body {
    position: relative;
}

.dropdown-menu > li > a:hover {
    background-color: #e3e3e3;
}

#about {
    text-align: center;
    padding-top: 300px;
    padding-bottom: 300px;
/*    height: 100vh;*/
    color: #fff;
    background-color: #1E88E5;
}

h1 {
    text-align: center;
}

h2 small {
    color: #dddddd;
}

#work {
    padding-top: 50px;
    padding-bottom: 50px;
    color: #fff;
    background-color: #673ab7;
}

#personal {
    padding-top: 50px;
    padding-bottom: 50px;
    color: #fff;
    background-color: #00bcd4;
}

h1 small {
    color: white;
}

.contact-icon {
    margin: 5px;
}

.contact-icon i {
    font-size: 32px;
    color: black;
}

.store-icon {
    margin: 5px;
}

.store-icon i {
    font-size: 28px;
    color: white;
}

.icon_size {
    width: 128px;
    height: 128px;
}

.image_slider img {
    margin-right: 5px;
    height: 20vh;
}

#resume {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #009688;
    color: #fff;
}

footer {
    background-color: #101010;
    color: white;
    text-align: center;
    padding: 30px 0;
}
